<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="viewport" content=" height = device-height,
				width = device-width,
				initial-scale = 1.0,
				minimum-scale = 1.0,
				user-scalable = yes" />
    <link rel="stylesheet" href="http://www.bj-qhjd.com/phone/css/style.css" th:href="@{http://www.bj-qhjd.com/phone/css/style.css}">
    <link rel="stylesheet" type="text/css" href="/phone/css/size.css" th:href="@{/phone/css/size.css}" />
    <script src="/phone/js/jquery-1.11.1.min.js" th:src="@{/phone/js/jquery-1.11.1.min.js}" ></script>
    <script src="/phone/js/js.js" th:src="@{/phone/js/js.js}"></script>
    <title>修改密码</title>
    <script type="text/javascript">
        var modifyPsd = function(){
            var op = $("#op").val();
            var np = $("#np").val();
            var np2= $("#n_pwd2").val();
            if(np==np2){
                $.get('/C/modify', {'password' : np, 'old' : op}, function(result){
                    if(result){
                        window.location.href="/m/login"
                    }
                });
            }
        }
    </script>
</head>
<body  class="hbj">
<div id="m_div">
    <div th:replace="top::mtop"></div>
    <div class="sj-hy-sy">
        <div class="sj-hy-sy-l">
            <img src="/phone/images/hy-bt-tb.jpg" th:src="@{/phone/images/hy-bt-tb.jpg}">修改密码
        </div>
        <div class="sj-hy-sy-r">
            <a href="javascript:;" onclick="history.go(-1)">
                <img src="/phone/images/jt-fh.png" th:src="@{/phone/images/jt-fh.png}" /></a>
        </div>
    </div>
    <div class="sj-xgmm">
        <div class="pasput">
            <div class="pasput1">
                <label>原始密码</label><input id="op" type="text" />
            </div>
        </div>
        <div class="pasput">
            <div class="pasput1">
                <label>新密码</label><input id="np" type="password" />
            </div>
        </div>
        <div class="pasput">
            <div class="pasput1">
                <label>确认新密码</label><input id="n_pwd2" type="password"  />
            </div>
        </div>
        <input class="subput" type="button" id="btn" value="修改" onclick="modifyPsd();" />
    </div>
    <div class="zanwei"></div>
    <div th:replace="footer::mbnav"></div>
</div>
</body>
</html>
