<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>会员中心</title>
    <link rel="stylesheet" th:href="@{http://www.bj-qhjd.com/css/style.css}" href="http://www.bj-qhjd.com/css/style.css">
    <script type="text/javascript" src="http://www.bj-qhjd.com/js/jquery-3.1.1.js" th:src="@{http://www.bj-qhjd.com/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" src="http://www.bj-qhjd.com/js/main.js" th:src="@{http://www.bj-qhjd.com/js/main.js}"></script>
    <script type="text/javascript" src="/js/commons.js" th:src="@{/js/commons.js}" ></script>
    <script type="text/javascript" src="/js/ajax.exception.filter.js" th:src="@{/js/ajax.exception.filter.js}" ></script>
    <script type="text/javascript">
        var modifyPsd = function(){
            var op = $("#op").val();
            var np = $("#np").val();
            $.get('/C/modify', {'password' : np, 'old' : op}, function(result){
               if(result){
                   window.location.href="/C/toUser"
               }
            });
        }
    </script>
</head>

<body>
<div th:replace="top::header"></div>
<div th:replace="top::nav"></div>
<div class="hyzx_sy">
    <div class="sy">
        <p>您现在的位置：</p>
        <a href="http://www.bj-qhjd.com/">首页</a>&nbsp;&gt;&nbsp;<span>个人中心</span>
    </div>
</div>
<div class="hyzx_m grxx_m">
    <div class="hyzx_m_l">
        <div class="hyzx_txxxk">
            <div class="ftx">
                <img th:src="@{/images/mrtx.png}" />
            </div>
            <p>个人中心</p>
            <p>您好,</p>
        </div>
        <ul>
            <li><a  href="/C/toUserInfo" >个人信息</a></li>
            <li><a  href="/C/toUserPassword" class="hover">修改密码</a></li>
        </ul>
    </div>
    <div class="hyzx_m_r">
        <div class="dbt">
            <h3>修改密码</h3>
        </div>
        <ul class="xgmm">
            <li>
                <label>原始密码：</label>
                <input class="inputxt" id="op" type="password" name="op" />
            </li>
            <li>
                <label>新密码：</label>
                <input class="inputxt" id="np" type="password" name="np" />
            </li>
            <li>
                <label>确认密码：</label>
                <input class="inputxt" id="n_pwd2" type="password" name="" />
            </li>
            <div class="action">
                <input type="button" id="btn" name="" value="确 定" onclick="modifyPsd();" />
            </div>
        </ul>
    </div>
</div>
<div th:replace="footer::bottom1"></div>
<div th:replace="footer::ssgjz"></div>
</body>
</html>
