<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>打印</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{http://www.bj-qhjd.com/css/style.css}" href="http://www.bj-qhjd.com/css/style.css">
    <script type="text/javascript" src="http://www.bj-qhjd.com/js/jquery-3.1.1.js" th:src="@{http://www.bj-qhjd.com/js/jquery-3.1.1.js}"></script>
    <script type="text/javascript" src="http://www.bj-qhjd.com/js/main.js" th:src="@{http://www.bj-qhjd.com/js/main.js}"></script>
    <style>
        .table img{
            width: 20px !important;
            height: 20px!important;
        }
    </style>
</head>
<body>
<div th:replace="top::header"></div>
<div th:replace="top::nav"></div>
<div class="row" style="width: 1200px !important;margin: 26px auto">
    <form id="user_form">
    </form>
    <div class="col-md-2">
        <button class="btn btn-default" onclick="inputAll()" type="button">全选</button>
        <button class="btn btn-default" onclick="delinputAll()" type="button">取消</button>
    </div>
    <div class="col-md-2 col-md-offset-8">
        <button class="btn btn-default" onclick="printfrom()" type="button">打印</button>
    </div>
    <div class="col-md-12">
        <table class="table">
            <thead>
            <th style="width: 20px">
            </th>
            <th>名字</th>
            <th>面值</th>
            <th>年份</th>
            <th>规格</th>
            <th>评级编号</th>
<!--            <th>图片</th>-->
            <th>鉴定编号</th>
            <th>url</th>
            </thead>
            <tbody>
            <tr th:each="vo : ${list}">
                <td style="width: 20px">
                    <input type="checkbox" name="id" th:value="${vo.id}" form="user_form">
                </td>
                <td th:text="${vo} == null ? '' : ${vo.spec}"></td>
                <td th:text="${vo} == null ? '' : ${vo.goodsName}"></td>
                <td th:text="${vo} == null ? '' : ${vo.year}"></td>
                <td th:text="${vo} == null ? '' : ${vo.size}"></td>
                <td th:text="${vo} == null ? '' : ${vo.talk}"></td>
               <td th:utext="${vo} == null ? '' : ${vo.num}"></td>
                <td th:text="${vo} == null ? '' : ${vo.printUrl}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div th:replace="footer::bottom1"></div>
<div th:replace="footer::ssgjz"></div>
<script>
function printfrom(){
    var obj=$("#user_form").serializeArray();
    if(obj.length==0){
        alert("请选择至少一条")
    }else{
        var idArray=new Array();
        for(var i=0;i<obj.length;i++){
            idArray.push(obj[i].value)
        }
    }
    var url = "/B/prints?ids=" + idArray;
    var wind = window.open(url,'打印', 'height=400, width=400, top=100, left=100, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no');
}
function inputAll() {
    var arr=document.querySelectorAll("[name='id']");
    arr.forEach(function (value) {
        value.checked=true
    })
}
function delinputAll() {
    var arr=document.querySelectorAll("[name='id']");
    arr.forEach(function (value) {
        value.checked=false
    })
}
</script>
</body>
</html>
