<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="bottom1" th:fragment="bottom1">
    <div class="bottom1-m">
        <div class="bottom1-l">
            <ul>     <li><a href="http://www.bj-qhjd.com/" class="ss">首 页</a></li>
                <li><a href='http://www.bj-qhjd.com/guanyugongsi/gongsijianjie/'  rel='dropmenu1'>关于公司</a></li>
                <li><a href='http://www.bj-qhjd.com/cangpinzhanshi/zhibi/'  rel='dropmenu6'>藏品展示</a></li>
                <li><a href='http://www.bj-qhjd.com/zhuanjiatuandui/' >专家团队</a></li>
                <li><a href='http://www.bj-qhjd.com/xiaoxigonggao/xiaoxigonggao/'  rel='dropmenu13'>消息公告</a></li>
                <li><a href='http://www.bj-qhjd.com/songpingxuzhi/pingjiyoushi/'  rel='dropmenu19'>送评须知</a></li>
                <li><a href='http://www.bj-qhjd.com/hezuohuoban/dailishangyaoqiu/'  rel='dropmenu24'>合作伙伴</a></li>
                <li><a href='http://www.bj-qhjd.com/lianxiwomen/lianxiwomen/'  rel='dropmenu27'>联系我们</a></li>
            </ul>
            <div class="bot-b">
                版权所有：北京泉衡艺术品鉴定中心   Copyright 2019- 2024 . All Rights Reserved
            </div>
        </div>
        <dl class="ewm">
            <dt><img src="http://www.bj-qhjd.com/images/wx.jpg" /></dt>
            <dd>扫描二维码关注公众号</dd>
        </dl>
    </div>
</div>
<div class="ssgjz" th:fragment="ssgjz">
    <!--    <p> 搜索关键词：</p> <a href="#">国鉴鉴定</a> <a href="#">国鉴评级</a>  <a href="#">鉴定评级公司</a> <a href="#">钱币鉴定</a> <a href="#">钱币评级</a>  <a href="#">机制币鉴定</a> <a href="#">古钱币鉴定</a> <a href="#">邮票鉴定</a>  <a href="#">邮票评级</a>-->
</div>
<div class="b-nav" th:fragment="mbnav" style="background: #c11a20">
    <a href="http://www.bj-qhjd.com/m"><img src="http://www.bj-qhjd.com/phone/images/b-nav11.png"></a>
    <a href="/m/search"> <img src="http://www.bj-qhjd.com/phone/images/b-nav22.png"></a>
    <a href="/m/login"> <img src="http://www.bj-qhjd.com/phone/images/b-nav33.png"></a>
    <a href="http://www.bj-qhjd.com/m/list.php?tid=34"> <img src="http://www.bj-qhjd.com/phone/images/b-nav44.png"></a>
</div>
</body>
</html>